<!-- <div class="footer">
<div class="navbar navbar-dark bg-dark box-shadow">
   <div class="container d-flex justify-content-between">
      <div class="navbar-brand d-flex align-items-center">
         <strong style="font-size: 15px">
            <center>&copy; Copyright 2018 by <a href="https://github.com/ishanghanmode" target="_blank">Ishan Ghanmode</a></center>
         </strong>
      </div>
   </div>
</div> -->

<!--    <footer class="footer" style="background-color: #F3F3F3;
   padding-top: 10px;
   padding-bottom: 0px;
   position:fixed;
   bottom:0;
   width:100%;">
     <div class="container">
       <p class="text-muted">Place sticky footer content here.</p>
     </div>
   </footer> -->
<!--    style="position: fixed;
   left: 0;
   bottom: 0;
                           top:auto;
   width: 100%;
   color: white;
   text-align: center;" -->
