{% extends 'layout.html' %}
{% block body %}
<section class="jumbotron text-center">
   <div class="container">
      <h2 class="jumbotron-heading">Sorry to see you go! 	&#9785;</h2>
      <p class="lead text-muted" style="text-align: center; font-size: 17px">Thank you for your interest! The goal of this research is to study the effect of social information on the quality of recommendations. <br />If you would like to know more about this research, please contact <a href="mailto:I.Ghanmode@student.tudelft.nl">Ishan Ghanmode</a>.</p>
   </div>
</section>
<section class="jumbotron text-center">
   <div class="container">
      <h2 class="jumbotron-heading">Changed your mind?!! 	  (づ｡◕‿‿◕｡)づ</h2>
      <p class="lead text-muted" style="text-align: center; font-size: 17px">Still want to participate in the study? Click below to go back!</p>
      <!-- <button type="submit" onclick="home.html" class="btn btn-primary">Take me back!</button> -->
      <a href="/" class="btn btn-primary my-2" style="background: skyblue">Take me back! </a>
   </div>
</section>
{% endblock %}
